.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* #ff9007 */
/* Loader CSS */
.dots {
  width: 72px;
  height: 34.6px;
  background:
    radial-gradient(circle closest-side, #ff9007 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #ff9007 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #ff9007 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 17.3px;
  background-repeat: no-repeat;
  animation: dots-7ar3yq 1s infinite linear;
}

@keyframes dots-7ar3yq {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }

  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }

  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }

  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

/* Another Small Loader */
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #ff9007 41%);
  background:
    linear-gradient(0deg, rgba(255, 144, 7, 0.5) 50%, rgba(255, 144, 7, 1) 0)
      center/4.5px 100%,
    linear-gradient(
        90deg,
        rgba(255, 144, 7, 0.25) 50%,
        rgba(255, 144, 7, 0.75) 0
      )
      center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}
